<div class="recipe" fxHide.lt-sm>
  <div *ngFor="let x of apiData">
    <mat-card class="cardDesktop">
      <mat-card-title class="titleDesktop">
        {{ x.recipe.label }}
      </mat-card-title>

      <mat-card-content class="cardContent">
        <h2 style="font-weight: 500">Ingredients:</h2>
        <ul style="text-align: left">
          <li *ngFor="let lines of x.recipe.ingredients">
            {{ lines.text }}
          </li>
        </ul>
        <p style="margin: 20px; padding: 10px">
          <b>Calories : </b> {{ x.recipe.calories }}
        </p>
        <img
          style="width: 350px; height: 250px; border-radius: 10px"
          src="{{ x.recipe.image }}"
          alt="Food Image"
        />
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div fxHide.gt-sm>
  <div *ngFor="let x of apiData">
    <mat-card class="cardMobile">
      <mat-card-title
        style="
          padding: 10px;
          font-weight: 600;
          font-family: cursive;
          font-size: 24px;
          line-height: 30px;
        "
      >
        {{ x.recipe.label }}
      </mat-card-title>

      <mat-card-content
        style="
          margin-top: 5%;
          text-align: center;
          font-family: sans-serif;
          font-weight: 300;
        "
      >
        <h2 style="font-weight: 500">Ingredients:</h2>
        <ul style="text-align: left">
          <li *ngFor="let lines of x.recipe.ingredients">
            {{ lines.text }}
          </li>
        </ul>
        <p style="margin: 20px; padding: 10px">
          <b>Calories : </b> {{ x.recipe.calories }}
        </p>
        <img
          style="width: 300px; height: 200px; border-radius: 10px"
          src="{{ x.recipe.image }}"
          alt="Food Image"
        />
      </mat-card-content>
    </mat-card>
  </div>
</div>
