<div fxHide.lt-md>

    <mat-card class="cardDesktop">
      <mat-card-title>
        Title
      </mat-card-title>

      <mat-card-content>
        asssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss sss
        <ul>
          <li>a</li>
          <li>a</li>
          <li>a</li>
          <li>a</li>
        </ul>
        <p>Calories</p>
        <img src="" alt="">
      </mat-card-content>
    </mat-card>

</div>

<div fxHide.gt-md>
  <mat-card class="cardDesktop">
    <mat-card-title>
      Title
    </mat-card-title>

    <mat-card-content>
      <ul>
        <li>a</li>
        <li>a</li>
        <li>a</li>
        <li>a</li>
      </ul>
      <p>Calories</p>
      <img src="" alt="">
    </mat-card-content>
  </mat-card>
</div>

