<div class="inputData">
  <form (ngSubmit)="fetchData(f)" #f="ngForm">
    <mat-form-field>
      <input
        matInput
        name="foodItem"
        value=""
        type="text"
        placeholder="Enter The Food Item"
        ngModel
      />
    </mat-form-field>
    <button
      mat-raised-button
      type="submit"
      color="primary"
      style="font-size: 20px; padding: 5px 30px; border-radius: 10px"
    >
      Data
    </button>
  </form>
</div>

<div fxHide.lt-md>
  <div *ngIf="card === true">
    <app-card></app-card>
  </div>
</div>

<div fxHide.gt-md>
  <!-- <div class="inputDataMobile">
    <form (ngSubmit)="fetchData(g)" #g="ngForm">
      <mat-form-field>
        <input
          matInput
          name="foodItem"
          value=""
          type="text"
          placeholder="Enter The Food Item"
          ngModel
        />
      </mat-form-field>
      <button
        mat-raised-button
        type="submit"
        color="primary"
        style="font-size: 18px; padding: 5px 25px; border-radius: 10px"
      >
        Data
      </button>
    </form>
  </div> -->

  <div class="recipe">
    <div *ngIf="card === true">
      <app-card></app-card>
    </div>
  </div>
</div>
