<div class="inputData">
  <form (ngSubmit)="fetchData(f)" #f="ngForm">
    <mat-form-field>
      <input
        matInput
        name="foodItem"
        value=""
        type="text"
        placeholder="Enter The Food Item"
        ngModel
      />
    </mat-form-field>
    <button
      mat-raised-button
      type="submit"
      color="primary"
      style="font-size: 20px; padding: 5px 30px; border-radius: 10px"
    >
      Get Recipe
    </button>
  </form>
</div>

<div *ngIf="card === true">
  <app-card></app-card>
</div>
